.title {
    font-weight: bold;
    color: coral;
    font-size: 24px;
    margin: 5px 0;
}

.task-details-container {
    background-color: #444;
    margin: 15px 0;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    color: #eee;
    border-radius: 5px;
}

.task-details-container p{
    margin-top: 0px;
}

.back-button-container {
    width: 30%;
    margin-bottom: 10px;
}